<% layout('layouts/boilerplate') %>

    <h1>HOME ! YELP CAMP!</h1>
    <h2>ASD</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque eaque vel, natus sequi obcaecati officia
        perferendis facere laudantium molestiae suscipit quasi eveniet excepturi eos? Sit fugiat excepturi eligendi nisi
        beatae!</p>