<% layout('layouts/boilerplate') %>
    <h1>
        <%= campground.title %>
    </h1>
    <h1>
        <%= campground.location%>

            <p>
            <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                <button>DELETE</button>
            </form>
            </p>
    </h1>
    <footer>
        <a href="/campgrounds">Back to all campgrounds</a>
        <a href="/campgrounds/<%=campground._id%>/edit">Edit Campground</a>
    </footer>