<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOW ROUTE</title>
</head>

<body>
    <h1>
        <%= campground.title %>
    </h1>
    <h1>
        <%= campground.location%>
    </h1>
</body>
<footer>
    <a href="/campgrounds">Back to all campgrounds</a>
    <a href="/campgrounds/<%=campground._id%>/edit">Edit Campground</a>
</footer>

</html>